:root {
	--wp-capture-title-alt-white-1: #dedede;
	--wp-capture-title-alt-white-2: #fefefe;
	--wp-capture-title-alt-error-text: #c70202;
	--wp-capture-title-alt-border: #888;
	--wp-capture-title-alt-close-button: #aaa;
	--wp-capture-title-alt-modal: #2d2c2c;
	--wp-capture-title-alt-background: rgba(0, 0, 0, 0.7);
	--wp-capture-title-alt-error-background: rgba(255, 0, 0, 0.1);
}

.wp-capture-alt-title-wrapper, .captureModalTitleAlt, .captureModalTitleAlt .modal-content img, .captureModalTitleAlt .modal-content {
	width: 100%;
}

button.captureImageTitleAltBtn, .captureModalTitleAlt .modal-content, .captureModalTitleAlt .modal-content img, .capture-error-message, .captureModalTitleAlt #captureTitleAlt-title, .captureModalTitleAlt #captureTitleAlt-alt-text  {
	border-radius: 5px;
}

.capture-image-title-alt {
    position: absolute;
    right: 0%;
    opacity: 0.3;
    box-shadow: 3px 3px 10px 0px var(--wp-capture-title-alt-white-1);
    transition: all ease-in-out 0.3s;
}

button.capture-image-title-alt:hover {
	opacity: 1;
}

.captureModalTitleAlt {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	height: 100%;
	background: var(--wp-capture-title-alt-background);
}

.captureModalTitleAlt .modal-content {
	background: var(--wp-capture-title-alt-white-2);
	margin: 5% auto;
	padding: 1.5rem 2rem;
	border: 1px solid var(--wp-capture-title-alt-border);
}

@media screen and (min-width: 40em) {
	.captureModalTitleAlt .modal-content {
		width: 45%;
	}
}

@media screen and (min-width: 60em) {
	.captureModalTitleAlt .modal-content {
		width: 25%;
	}
}

.captureModalTitleAlt .modal-content img {
	margin-bottom: 1rem;
	max-width: 430px;
}

.captureModalTitleAlt .close-modal {
	display: flex;
	justify-content: flex-end;
}

.captureModalTitleAlt button#closeCaptureModalTitleAlt {
	background: transparent;
    padding: 0;
    padding-bottom: 1rem;
}

.captureModalTitleAlt .close {
	color: var(--wp-capture-title-alt-close-button);
	font-size: 20px;
	font-weight: bold;
	transition: color ease-in 0.3s;
}

.captureModalTitleAlt .close:hover,
.captureModalTitleAlt .close:focus {
	color: var(--wp-capture-title-alt-modal);
	cursor: pointer;
}

.captureModalTitleAlt div#modalContent {
	color: var(--wp-capture-title-alt-modal);
}

.captureModalTitleAlt div#modalContent div:first-child {
	display: flex;
	justify-content: center;
}

.captureModalTitleAlt #captureTitleAlt-title,
.captureModalTitleAlt #captureTitleAlt-alt-text {
    border: 1px solid var(--wp-capture-title-alt-border);
	margin-bottom: 1rem;
	color: var(--wp-capture-title-alt-modal);
	text-transform: lowercase;
}

.wp-capture-title-alt-loading {
	cursor: not-allowed;
	opacity: 0.6;
}

#wpCaptureTitleAlt-capture-error-message {
    background: var(--wp-capture-title-alt-error-background);
    padding: 0.1rem 1rem;
    margin-bottom: 1rem;
}

#wpCaptureTitleAlt-capture-error-message p {
	color: var(--wp-capture-title-alt-error-text);
	margin: 0;
	font-size: 12px;
}

.hide-error-message{
	display: none;
}
